.FirstName,
.LastName,
.Address,
.Password,
.Your_view {
    border-color: rgb(20, 112, 172);
    border-style: solid;
    padding: 5px 10px;
    border-width: 1px;
    border-radius: 2px;
}

.Comments {
    border-color: rgb(20, 112, 172);
    border-style: solid;
    padding: 30px 80px;
    border-width: 1px;
    border-radius: 2px;
}

.button-reset,
.button-survey {
    border-color: rgb(20, 112, 172);
    border-style: solid;
    background-color: gainsboro;
    border-width: 1px;
    border-radius: 2px;
    cursor: pointer;
}

.button-reset:hover,
.button-survey:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.15s;
}

input[type="radio"] {
    accent-color: rgb(20, 112, 172);
}